name: Sample Orca SAST Scan Workflow
on:
  push:
    branches: ["main"]
  pull_request:
    branches: [ "main" ]

jobs:
  orca-sast_scan:
    name: Orca SAST Scan
    runs-on: ubuntu-latest
    env:
      PROJECT_KEY: slrk
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          
      - name: Install jq
        run: sudo apt-get update && sudo apt-get install -y jq
          
      - name: Run Orca SAST Scan
        id: orca-sast-scan
        uses: orcasecurity/shiftleft-sast-action@v1
        with:
          api_token: ${{ secrets.ORCA_SECURITY_API_TOKEN }}
          project_key: ${{ env.PROJECT_KEY }}
          format: json,cli,sarif
          path:
            # scanning the entire repository
            "."

      - name: Upload JSON file as artifact
        uses: actions/upload-artifact@v3
        if: ${{ always() && steps.orca-sast-scan.outputs.exit_code == 3 }}
        with:
          name: orca-shiftleft-scan-json
          path: orca_results/sast.json 
